page-register-ppt {
  .color-content{
    background-color: #2E7D32;
  }
  .column{
    text-align: center;
    padding-top: 60px;
  }
  .column-center{
    text-align: center;
  }
  .logo{
    height: 80px;
    width: 80px;
  }
  .logo2{
    height: 200px;
    width: 200px;
  }
  .btn-session{
    color: #f4f4f4;
  }
  .btn-registter{
    color: #32db64;
    background-color: #f4f4f4;
  }
}
